.container{
    
    background-color: rgb(17, 20, 20);
    min-height: 100vh;
    min-width: 100vw;

}
.cards{
  
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.container h1{
   color: white; 
   padding: 1rem 2rem;
}
@media (max-width:1000px) {
    .cards{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width:750px) {
    .cards{
        grid-template-columns: auto auto;
    }
}
@media (max-width:600px) {
    .cards{
        grid-template-columns: auto;
    }
}