body {
  margin: 0;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex{
  display: flex;
}
.f-d-c{
  flex-direction: column;
}
.f-d-r{
  flex-direction: row;
}
.a-center{
  align-items: center;
}
.j-center{
  justify-content: center;
}

